<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_pack_tag'media/styles/images/bnr-1.jpg' %>
    </div>
    <div class="carousel-item">
      <%= image_pack_tag'media/styles/images/bnr-2.jpg' %>
    </div>
    <div class="carousel-item">
      <%= image_pack_tag'media/styles/images/bnr-3.jpg' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="clearfix"></div>

<% if @brands.nil? %>
  <h2>no brands</h2>
<% else %>
  <!--About-Starts-->
  <div class="about">
    <div class="container">
      <div class="about-top grid-1">
        <% @brands.each do |i| %>
          <div class="col-md-4 about-left">
            <figure class="effect-bubba"> 
              <%= image_pack_tag 'media/styles/images/'+i.img %>
            </figure>
          </div>
        <% end %>
        <div class="clearfix"></div>
      </div> 
    </div>
  </div>
  <!--About-Ends-->
<% end %>



