<div class="information">
  <div class="container">
    <div class="infor-top">
      <div class="col-md-3 infor-left">
        <h3>Follow Us</h3>
        <ul>
          <li><a href="https://facebook.com"><span class="fb"><h6>Facebook</h6></span></a></li>
          <li><a href="#"><span class="twit"><h6>Twitter</h6></span></a></li>
          <li><a href="#"><span class="google"><h6>Google+</h6></span></a></li>
        </ul>
      </div>
      <div class="col-md-3 infor-left">
        <h3>Information</h3>
        <ul>
          <li><a href="#"><p>Specials</p></a></li>
          <li><a href="#"><p>New Products</p></a></li>
          <li><a href="#"><p>Our Stores</p></a></li>
          <li><a href="contact.html"><p>Contact Us</p></a></li>
          <li><a href="#"><p>Top Sellers</p></a></li>
        </ul>
      </div>   
      <div class="col-md-3 infor-left">
        <h3>My Account</h3>
        <ul>
          <li><a href="account.html"><p>My Account</p></a></li>
          <li><a href="#"><p>My Credit slips</p></a></li>
          <li><a href="#"><p>My Merchandise returns</p></a></li>
          <li><a href="#"><p>My Personal info</p></a></li>
          <li><a href="#"><p>My Addresses</p></a></li>
        </ul>
      </div> 
      <div class="col-md-3 infor-left">
        <h3>Store Information</h3>
        <h4>The company name,
        <span>Lorem ipsum dolor sit.</span>
        Glasglow Dr 40 Fe 72.</h4>
        <h5>+38-050-815-42-17</h5>
        <p><a href="mailto:karamalesa@gmail.com">karamalesa@gmail.com</a></p>
      </div> 
      <div class="clearfix"></div>
    </div>  
  </div>  
</div>  
<!--information-end-->
<!--footer-starts-->
<div class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="col-md-6 footer-left">
        <form>
          <input type="text" value="Enter Your Email"
            onfocus="this.value = '';"
            onblur="if (this.value = '';) {this.value = 'Enter Your Email';}">
          <input type="submit" value="Subscribe">  
        </form>
      </div>
      <div class="col-md-6 footer-right">
        <p>© 2020 Luxery Watches. All Rights Reserved</p>
      </div>  
      <div class="clearfix"></div>
    </div>
  </div>
</div>  

<!--Modal-->

<div class="modal fade" id="cart" tadindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        <h4 class="modal-title" id="myModalLabel">Корзина</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Продолжить покупки</button>
        <a href="cart/index" type="button" class="btn btn-primary">Оформить заказ</a>
        <button type="button" class="btn btn-default" onclick="clearCart()">Очистить корзину</button>
      </div>
    </div>
  </div>
</div>
